@import url(./grid.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-family: Helvetica, Arial, sans-serif; }

.header {
  height: 900px;
  background-color: #4762fc;
  background-image: url(../../assets/img/mountains.png);
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  position: relative; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px; }
  .nav__phone-btn {
    width: 200px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .nav__phone-btn span {
      color: #3956fb;
      font-size: 18px;
      font-weight: 700;
      margin-left: 10px; }
  .nav__phone-btn:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease-in; }

.header__content {
  margin-top: 80px;
  position: relative; }
  .header__content .prod-info {
    width: 720px; }
  .header__content .prod-intro__title {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px; }
  .header__content .prod-intro__sub {
    color: #eee;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1.2px; }
  .header__content .prod-specifications {
    display: flex;
    margin-top: 30px; }
    .header__content .prod-specifications__item h3 {
      color: #fff;
      font-size: 32px;
      font-weight: bold;
      margin: 0 50px 8px 0; }
    .header__content .prod-specifications__item div {
      color: #fff;
      display: flex;
      align-items: center; }
      .header__content .prod-specifications__item div span {
        margin-left: 10px;
        font-size: 18px;
        letter-spacing: 1.2px;
        color: #eee; }
  .header__content .prod-image {
    position: absolute;
    top: 40px;
    right: 0; }
  .header__content .ice-image {
    position: absolute;
    top: 530px;
    right: -110px; }

.header .scolldown-btn {
  position: absolute;
  bottom: 100px;
  right: 50%;
  transform: translateX(-50%);
  cursor: pointer; }

.container {
  margin-top: 30px; }
  .container .container-title {
    font-size: 54px;
    color: #043c9c;
    max-width: 840px;
    text-align: center;
    margin: auto;
    font-weight: bold; }
  .container .container-products {
    margin-top: 100px; }

.product {
  padding-top: 70px; }

.product.second-color {
  background-color: #4762fc; }
  .product.second-color .product__name {
    color: #fff; }
  .product.second-color .product__description > p {
    color: #eee; }
  .product.second-color .product__shape__title {
    color: #fff; }
  .product.second-color .product__shape__item > span {
    color: #eee; }
  .product.second-color .product__btn-review {
    color: #4762fc;
    background-color: #fff; }

.product__row {
  display: flex;
  justify-content: space-between; }
  .product__row__col {
    max-width: 45%; }
  .product__row .product__img img {
    width: 600px; }
  .product__row .product__name {
    color: #043c9c;
    font-size: 54px;
    font-weight: bold; }
  .product__row .product__description {
    margin-top: 20px;
    max-width: 520px; }
    .product__row .product__description p {
      color: #5c7392;
      font-size: 16px;
      letter-spacing: 1.2px;
      margin-bottom: 10px; }
  .product__row .product__shape {
    margin-top: 30px; }
    .product__row .product__shape__title {
      color: #043c9c;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px; }
  .product__row .product__shape__list {
    display: flex; }
  .product__row .product__shape__item {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    align-items: center; }
    .product__row .product__shape__item span {
      color: #5c7392;
      font-size: 14px;
      margin-top: 10px; }
  .product__row .product__btn-review {
    min-width: 200px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #4762fc;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px; }

.container-video {
  background-image: url(../../assets/img/video.png);
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 682px;
  object-fit: contain;
  position: relative; }
  .container-video__title {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    text-align: center; }
  .container-video__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer; }
    .container-video__btn__sub {
      color: #fff;
      font-size: 14px;
      font-weight: bold; }

.container-customers {
  margin-top: 70px;
  position: relative; }
  .container-customers__title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #043c9c;
    font-size: 24px;
    font-weight: bold; }
  .container-customers__list {
    padding: 200px 0 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .container-customers__list div {
      min-width: 200px; }

.container-founder {
  background-color: #f3faff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .container-founder span {
    color: #043c9c;
    font-size: 54px;
    font-weight: 800;
    padding: 50px 0 30px 0; }
  .container-founder__statement {
    font-size: 20px;
    color: #5c7392;
    max-width: 1000px;
    text-align: center;
    letter-spacing: 1.2px; }
  .container-founder__name {
    color: black;
    font-size: 21px;
    font-style: italic;
    font-weight: bold;
    margin-top: 30px; }
  .container-founder__position {
    color: #95a4b7;
    font-size: 16px;
    letter-spacing: 1.2px;
    margin: 10px 0 30px 0; }
  .container-founder__pagination {
    margin: 30px 0 70px 0; }
